.arco-form-item-label-col {
  min-height: 32px;
}
.custom_switch .arco-switch {
  height: 30px;
  padding: 12px 20px;
  width: auto;
  border-radius: 999px;
}
.custom_switch .arco-switch-handle {
  width: 20px !important;
  height: 20px !important;
}
.custom_switch .arco-switch-text {
  top: 4px !important;
  font-size: 16px !important;
}
.custom_switch .arco-switch-text-holder {
  margin: 0 8px 0 0 !important;
}
.custom_switch .arco-switch-checked .arco-switch-handle {
  left: calc(100% - 16px - 9px) !important;
  top: 5px;
}
.arco-form-item {
  margin-bottom: 12px !important;
}
.arco-tag-size-medium {
  height: fit-content !important;
}
.arco-form-item-label {
  display: flex;
  align-items: center;
  gap: 0.25rem !important;
}
.arco-form-item-layout-vertical > .arco-form-item-label-col {
  margin-bottom: 4px !important;
}
.arco-form-item-label-col > .arco-form-item-label {
  font-weight: 600;
}
.arco-modal {
  border-radius: 8px !important;
}
/*div:where(.swal2-container).swal2-center>.swal2-popup {
	 border-radius: 24px !important;
}
 .swal2-actions {
	 width: 90% !important;
}
 div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) {
	 padding: 12px 20px !important;
	 width: auto !important;
	 flex: 1 1 0%;
	 border-radius: 999px !important;
	 font-size: 18px !important;
}
*/
