@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@200&family=Noto+Sans+TC:wght@400;900&family=Paytone+One&family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";
/*@import "tailwindcss" important;*/
@import "./swal.css";
@import "./globals.css";
@import "./arco.css";
@import "./tiny.css";
@import "./Naive.css";

@font-face {
    font-family: 'MapleMono';
    src: url('@/assets/font/maple-mono-latin-500-normal.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+4E00-9FFF; /*只針對中文字體使用*/
}

@font-face {
    font-family: 'Manrope';
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0000-00FF; /*只針對英文數字使用*/
}

#app {
    font-family: "MapleMono", "Manrope", 'M PLUS Rounded 1c', Inter, "-apple-system", BlinkMacSystemFont, "PingFang SC", "Hiragino Sans GB", "noto sans", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    background: #f5f7fa;
    font-size: 16px ;
}

[class*=tiny-] {
    font-family: "MapleMono", 'Manrope', 'M PLUS Rounded', sans-serif !important;
}

button {
    cursor: pointer;
}

.table-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 32px;
    width: 32px;
}
.table-button:hover {
    background-color: #e9ebef;
}


.toolbar-background {
    background: inherit !important;
    border: 0 !important;
}

body {
    position: relative !important;
}
